# Cartelle di build e file generati
build/
app/build/
*.apk
*.aar
*.jar
*.bundle
*.output.json

## Gradle
.gradle/
gradle/caches/
gradle/wrapper/dists/
local.properties

# File dell'IDE (Android Studio / IntelliJ)
.idea/
*.iml
*.ipr
*.iws
modules.xml

# Log e file temporanei
*.log
.DS_Store (per Mac)
captures/

## Firma e sicurezza
*.jks
*.keystore
google-services.json

# File generati dai test
.externalNativeBuild/
.cxx/
